
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 154rem;
}.desktop-1-qQH {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(145, 126, 56, 0.8899999857);
}
.desktop-1-qQH .auto-group-vdak-dqw {
  width: 100%;
  height: 197.7rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .frame-1-uS5 {
  width: 129.8rem;
  height: 43rem;
  position: absolute;
  left: 7.1rem;
  top: 9.5rem;
  overflow: hidden;
}
.desktop-1-qQH .auto-group-vdak-dqw .frame-1-uS5 .image-1-o1f {
  width: 127.6rem;
  height: 62.8rem;
  position: absolute;
  left: 1.1rem;
  top: -9.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-qQH .auto-group-vdak-dqw .frame-1-uS5 .lets-make-beautiful-flowers-a-part-of-your-life-6WZ {
  width: 62.8rem;
  height: 13.1rem;
  position: absolute;
  left: 3.4rem;
  top: 15rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.36;
  color: #d9d9d9;
  font-family: Alegreya SC, 'Source Sans Pro';
}
.desktop-1-qQH .auto-group-vdak-dqw .frame-1-uS5 .rectangle-5-KPK {
  width: 17.6rem;
  height: 5.9rem;
  position: absolute;
  left: 3.4rem;
  top: 33.7rem;
  background-color: #d9d9d9;
}
.desktop-1-qQH .auto-group-vdak-dqw .frame-1-uS5 .shop-now-Rx9 {
  width: 14.1rem;
  height: 4.4rem;
  position: absolute;
  left: 5.2rem;
  top: 34.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.36;
  color: #000000;
  font-family: Alegreya SC, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-3wdz-ve1 {
  width: 116.1rem;
  height: 34.5rem;
  position: absolute;
  left: 13.4rem;
  top: 69rem;
  display: flex;
  align-items: center;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-3wdz-ve1 .auto-group-exet-dYR {
  margin-right: 10.6rem;
  width: 20.8rem;
  height: 100%;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-3wdz-ve1 .auto-group-exet-dYR .image-5-muX {
  width: 20.8rem;
  height: 34.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-3wdz-ve1 .auto-group-tfqn-W6R {
  margin-right: 10.4rem;
  width: 20.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-3wdz-ve1 .auto-group-tfqn-W6R .rectangle-6-E2R {
  width: 20.8rem;
  height: 34.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-3wdz-ve1 .auto-group-tfqn-W6R .image-2-ZqP {
  width: 20.8rem;
  height: 34.5rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-3wdz-ve1 .auto-group-xbue-5Yq {
  margin-right: 11.8rem;
  width: 20.8rem;
  height: 100%;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-3wdz-ve1 .auto-group-xbue-5Yq .image-4-ozd {
  width: 20.8rem;
  height: 34.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-3wdz-ve1 .auto-group-dxkc-MWM {
  width: 20.8rem;
  height: 100%;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-3wdz-ve1 .auto-group-dxkc-MWM .image-3-Wu3 {
  width: 20.8rem;
  height: 34.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-ndw2-TZP {
  width: 111.7rem;
  height: 3.3rem;
  position: absolute;
  left: 14.5rem;
  top: 105.4rem;
  display: flex;
  align-items: center;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-ndw2-TZP .foxglove-flower-BkH {
  margin-right: 13.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.36;
  color: #2f2b1c;
  font-family: Alegreya SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-ndw2-TZP .sweet-alyssum-uwB {
  margin-right: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.36;
  color: #2f2b1c;
  font-family: Alegreya SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-ndw2-TZP .scarlet-sage-SAR {
  margin-right: 18.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.36;
  color: #2f2b1c;
  font-family: Alegreya SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-ndw2-TZP .majesty-palm-kgu {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.36;
  color: #2f2a1b;
  font-family: Alegreya SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-rqmn-sFj {
  width: 106.4rem;
  height: 3.3rem;
  position: absolute;
  left: 17.2rem;
  top: 176.3rem;
  display: flex;
  align-items: center;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-rqmn-sFj .rosalina-AVj {
  margin-right: 24.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.36;
  color: #2f2b1c;
  font-family: Alegreya SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-rqmn-sFj .tulipa-hEm {
  margin-right: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.36;
  color: #2f2b1c;
  font-family: Alegreya SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-rqmn-sFj .commomile-DU1 {
  margin-right: 20.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.36;
  color: #2f2b1c;
  font-family: Alegreya SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-rqmn-sFj .casandra-L2q {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.36;
  color: #2f2b1c;
  font-family: Alegreya SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-sk3n-rG5 {
  width: 105.5rem;
  height: 4.5rem;
  position: absolute;
  left: 18.7rem;
  top: 113.1rem;
  display: flex;
  align-items: center;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-sk3n-rG5 .frame-4-xpu {
  margin-right: 21rem;
  box-sizing: border-box;
  padding: 1.6rem 2.25rem 0.5rem 2.25rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #2f2a1b;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-sk3n-rG5 .frame-5-FJD {
  margin-right: 21rem;
  box-sizing: border-box;
  padding: 1.6rem 2.25rem 0.5rem 2.25rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #2f2a1b;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-sk3n-rG5 .frame-6-wwj {
  margin-right: 22.3rem;
  box-sizing: border-box;
  padding: 1.6rem 2.25rem 0.5rem 2.25rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #2f2a1b;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-sk3n-rG5 .frame-7-qnD {
  box-sizing: border-box;
  padding: 1.6rem 2.25rem 0.5rem 2.25rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #2f2a1b;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zf4q-kPP {
  width: 105.5rem;
  height: 4.5rem;
  position: absolute;
  left: 17.2rem;
  top: 184rem;
  display: flex;
  align-items: center;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zf4q-kPP .frame-8-Tob {
  margin-right: 22.7rem;
  box-sizing: border-box;
  padding: 1.6rem 2.25rem 0.5rem 2.25rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #2f2a1b;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zf4q-kPP .frame-9-8eq {
  margin-right: 20.8rem;
  box-sizing: border-box;
  padding: 1.6rem 2.25rem 0.5rem 2.25rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #2f2a1b;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zf4q-kPP .frame-10-bYR {
  margin-right: 20.8rem;
  box-sizing: border-box;
  padding: 1.6rem 2.25rem 0.5rem 2.25rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #2f2a1b;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zf4q-kPP .frame-11-u3K {
  box-sizing: border-box;
  padding: 1.6rem 2.25rem 0.5rem 2.25rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #2f2a1b;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-eskg-QEy {
  width: 99.3rem;
  height: 2.9rem;
  position: absolute;
  left: 21.8rem;
  top: 109.7rem;
  display: flex;
  align-items: center;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-eskg-QEy .item-159-8Ay {
  margin-right: 27.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #d9d9d9;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-eskg-QEy .item-269-SxM {
  margin-right: 26.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #d9d9d9;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-eskg-QEy .item-243-P6u {
  margin-right: 28.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #d9d9d9;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-eskg-QEy .item-167-WxD {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #d9d9d9;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-f91n-rmB {
  width: 99.9rem;
  height: 3.2rem;
  position: absolute;
  left: 20rem;
  top: 180.7rem;
  display: flex;
  align-items: center;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-f91n-rmB .item-359-NjX {
  margin: 0rem 28.9rem 0.3rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #d9d9d9;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-f91n-rmB .item-263-h17 {
  margin: 0rem 27.1rem 0.3rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #d9d9d9;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-f91n-rmB .item-156-CCm {
  margin: 0.3rem 27.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #d9d9d9;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-f91n-rmB .item-145-gtd {
  margin-top: 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #d9d9d9;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-euv6-RbK {
  width: 47.9rem;
  height: 4.6rem;
  position: absolute;
  left: 45.6rem;
  top: 59.6rem;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-euv6-RbK .fresh-and-beautiful-flowers-Yvq {
  width: 47.9rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #2f2a1b;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-euv6-RbK .rectangle-9-eiy {
  width: 17.9rem;
  height: 0.4rem;
  position: absolute;
  left: 14.7rem;
  top: 4.2rem;
  background-color: #2f2a1b;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-pbq6-n4V {
  width: 29.4rem;
  height: 4.6rem;
  position: absolute;
  left: 55.3rem;
  top: 129.4rem;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-pbq6-n4V .rectangle-20-WWH {
  width: 17.9rem;
  height: 0.4rem;
  position: absolute;
  left: 5.8rem;
  top: 4.2rem;
  background-color: #2f2a1b;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-pbq6-n4V .the-art-of-gifting-pWy {
  width: 29.4rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #2f2b1c;
  font-family: Alegreya Sans SC, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zipv-8nZ {
  width: 116.1rem;
  height: 34.7rem;
  position: absolute;
  left: 13.4rem;
  top: 140.5rem;
  display: flex;
  align-items: center;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zipv-8nZ .auto-group-lbme-RWm {
  box-sizing: border-box;
  padding: 0.2rem 10.4rem 0rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zipv-8nZ .auto-group-lbme-RWm .auto-group-6pkx-kow {
  margin-right: 10.6rem;
  width: 20.8rem;
  height: 100%;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zipv-8nZ .auto-group-lbme-RWm .auto-group-6pkx-kow .rectangle-13-VmX {
  width: 100%;
  height: 34.5rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-13-bg.png');
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zipv-8nZ .auto-group-lbme-RWm .auto-group-aklc-AFP {
  width: 20.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zipv-8nZ .auto-group-lbme-RWm .auto-group-aklc-AFP .rectangle-17-Wa9 {
  width: 20.8rem;
  height: 34.5rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background-color: #d9d9d9;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zipv-8nZ .auto-group-lbme-RWm .auto-group-aklc-AFP .rectangle-16-Fnd {
  width: 20.9rem;
  height: 34.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-16-bg.png');
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zipv-8nZ .auto-group-ggk4-aa1 {
  margin-right: 11.8rem;
  width: 20.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zipv-8nZ .auto-group-ggk4-aa1 .rectangle-18-vtm {
  width: 20.8rem;
  height: 34.5rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #d9d9d9;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zipv-8nZ .auto-group-ggk4-aa1 .rectangle-16-4zy {
  width: 20.8rem;
  height: 34.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-16-bg-Rg9.png');
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zipv-8nZ .auto-group-p3ac-PnM {
  width: 20.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zipv-8nZ .auto-group-p3ac-PnM .rectangle-19-YQM {
  width: 20.8rem;
  height: 34.5rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #d9d9d9;
}
.desktop-1-qQH .auto-group-vdak-dqw .auto-group-zipv-8nZ .auto-group-p3ac-PnM .rectangle-16-Uoo {
  width: 20.8rem;
  height: 34.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-16-bg-R5P.png');
}
.desktop-1-qQH .auto-group-vdak-dqw .fiorello-btR {
  width: 19.3rem;
  height: 5.4rem;
  position: absolute;
  left: 8.2rem;
  top: 2.3rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display SC, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-1-qQH .auto-group-vdak-dqw .fiorello-btR .fiorello-btR-sub-0 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #2f2b1c;
  font-family: Playfair Display SC, 'Source Sans Pro';
}
.desktop-1-qQH .auto-group-vdak-dqw .fiorello-btR .fiorello-btR-sub-1 {
}
.desktop-1-qQH .rectangle-21-yXb {
  width: 100%;
  height: 7.5rem;
  background-color: #2f2a1b;
  flex-shrink: 0;
}
